.map {
    text-align: center;
    padding: 20px;
    line-height: 1.6;
}

.map .map-guide-title {
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 40px;
    color: pink;
}

.map .map-guide-place {
    font-size: 1.0rem;
}

.map .map-guide-place-detail {
    font-size: 0.5;
    font-weight: 200;
}