body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'MaruBuri-extraLight';
  src: url('./assests/fonts/MaruBuri-ExtraLight.ttf');
}
@font-face {
  font-family: 'MaruBuri-light';
  src: url('./assests/fonts/MaruBuri-Light.ttf');
}
@font-face {
  font-family: 'MaruBuri-regular';
  src: url('./assests/fonts/MaruBuri-Regular.ttf');
}
@font-face {
  font-family: 'MaruBuri-semiBold';
  src: url('./assests/fonts/MaruBuri-SemiBold.ttf');
}
@font-face {
  font-family: 'MaruBuri-bold';
  src: url('./assests/fonts/MaruBuri-Bold.ttf');
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assests//fonts/PretendardVariable.ttf');
}



@font-face {
  font-family: 'Cafe24Oneprettynight';
  src: url('./assests//fonts/Cafe24Oneprettynight-v2.0.woff2');
}
@font-face {
  font-family: 'GowunBatang-Bold';
  src: url('./assests//fonts/GowunBatang-Bold.ttf');
}
@font-face {
  font-family: 'GowunBatang-Regular';
  src: url('./assests//fonts/GowunBatang-Regular.ttf');
}

